Read DataSet

In [1]:
import pandas as pd

data = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [2]:
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [3]:
#checking for number or rows and columns in the dataset
data.shape

(60943, 12)

In [4]:
#checking for null valuses
data.isna().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [5]:
# Calculate mean and standard deviation for the 'Y2017' column
mean_2017 = data['Y2017'].mean()
std_dev_2017 = data['Y2017'].std()

# Print the results
print(f"The mean for 2017 is: {mean_2017:.2f}")
print(f"The standard deviation for 2017 is: {std_dev_2017:.2f}")

The mean for 2017 is: 140.92
The standard deviation for 2017 is: 1671.86

In [11]:
# Filter the DataFrame for the item 'Wine'
wine_data = data[data['Item'] == 'Wine']

# Calculate the sum of Wine produced in 2015 and 2018
wine_production_2015 = wine_data['Y2015'].sum()
wine_production_2018 = wine_data['Y2018'].sum()

# Print the results
print(f'Total Wine produced in 2015: {wine_production_2015}')
print(f'Total Wine produced in 2018: {wine_production_2018}')

Total Wine produced in 2015: 4251.8099999999995
Total Wine produced in 2018: 4039.3199999999997

In [12]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][-1]
x

8

In [13]:
# Selecting columns 'Y2017' and 'Area'
selected_data = data[['Y2017', 'Area']]

# Group by 'Area' and calculate the sum for 2017
sum_2017_by_area = selected_data.groupby('Area')['Y2017'].sum()

# Find the Area with the highest sum in 2017
area_with_highest_sum_2017 = sum_2017_by_area.idxmax()

# Print the result
print(f"The Area with the highest sum in 2017 is: {area_with_highest_sum_2017}")

The Area with the highest sum in 2017 is: Nigeria

In [14]:
# Selecting columns 'Y2017' and 'Area'
selected_data = data[['Y2017', 'Area']]

# Group by 'Area' and calculate the sum for 2017
sum_2017_by_area = selected_data.groupby('Area')['Y2017'].sum()

# Find the 7th lowest sum in 2017
seventh_lowest_sum_2017 = sum_2017_by_area.nsmallest(7).iloc[-1]

# Find the Area(s) with the 7th lowest sum in 2017
area_with_seventh_lowest_sum_2017 = sum_2017_by_area[sum_2017_by_area == seventh_lowest_sum_2017]

# Print the result
print(f"The Area(s) with the 7th lowest sum in 2017:")
print(area_with_seventh_lowest_sum_2017)

The Area(s) with the 7th lowest sum in 2017:
Area
Guinea-Bissau    19102.77
Name: Y2017, dtype: float64

In [18]:
# Filter for rows where the Element is 'Processing'
processing_data = data[data['Element'] == 'Processing']

# Select the 'Area' and 'Y2017' columns
processing_2017 = processing_data[['Area', 'Y2017']]

# Convert 'Y2017' column to numeric (in case it's not already)
processing_2017['Y2017'] = pd.to_numeric(processing_2017['Y2017'], errors='coerce')

# Calculate the sum of 'Y2017' for Processing
sum_processing_2017 = processing_2017['Y2017'].sum()

# Print the result
print(f"The total number of the sum of Processing in 2017 is: {sum_processing_2017}")

The total number of the sum of Processing in 2017 is: 292836.0

C:\Users\adeit\AppData\Local\Temp\ipykernel_14640\844835191.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  processing_2017['Y2017'] = pd.to_numeric(processing_2017['Y2017'], errors='coerce')

In [21]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ["Age", "Nationality" ,"Overall"]

df = pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])
df

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [22]:
# Use the 'Area' column to find unique countries
unique_countries = data['Area'].nunique()

# Print the result
print(f"The total number of unique countries in the dataset is: {unique_countries}")

The total number of unique countries in the dataset is: 49

In [23]:
# Filter for rows where 'Element' contains 'Stock Variation'
stock_variation_data = data[data['Element'].str.contains('Stock Variation')]

# Select only the columns related to the years (Y2014, Y2015, ..., Y2018)
year_columns = data.columns[data.columns.str.startswith('Y')]

# Melt the DataFrame to have separate rows for each year
melted_data = stock_variation_data.melt(id_vars=['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element', 'Unit'],
                                        value_vars=year_columns,
                                        var_name='Year',
                                        value_name='Value')

# Convert 'Value' to numeric
melted_data['Value'] = pd.to_numeric(melted_data['Value'], errors='coerce')

# Group by 'Year' and calculate the sum of 'Value'
sum_by_year = melted_data.groupby('Year')['Value'].sum()

# Find the year with the highest sum of Stock Variation
year_with_highest_stock_variation = sum_by_year.idxmax()

# Print the result
print(f"The year with the highest sum of Stock Variation is: {year_with_highest_stock_variation}")

The year with the highest sum of Stock Variation is: Y2014

In [27]:
# Filter for rows where 'Area' is Madagascar, 'Element' is 'Food supply quantity (kg/capita/yr)', and select 'Y2015'
protein_supply_madagascar_2015 = data[(data['Area'] == 'Madagascar') & 
                                    (data['Element'] == 'Food supply quantity (kg/capita/yr)')]['Y2015'].values[0]

# Print the result
print(f"The total Protein supply quantity in Madagascar in 2015 is: {protein_supply_madagascar_2015} kg/capita/yr")

The total Protein supply quantity in Madagascar in 2015 is: 172.87 kg/capita/yr

In [28]:
# Selecting numeric columns (Y2014, Y2015, Y2016, Y2017, Y2018) and 'Element Code'
numeric_columns = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
selected_data = data[['Element Code'] + numeric_columns]

# Calculate the correlation matrix
correlation_matrix = selected_data.corr()

# Find the year with the least correlation with 'Element Code'
least_correlation_year = correlation_matrix['Element Code'].idxmin()

# Print the result
print(f"The year with the least correlation with 'Element Code' is: {least_correlation_year}")

The year with the least correlation with 'Element Code' is: Y2016

In [29]:
# Selecting columns related to 2014
data_2014 = data[['Y2014']]

# Count the missing values
missing_data_count = data_2014.isnull().sum().sum()

# Total number of data points
total_data_points = data_2014.size

# Calculate the percentage of missing data
percentage_missing_data = (missing_data_count / total_data_points) * 100

# Print the results
print(f"Total number of missing data in 2014: {missing_data_count}")
print(f"Percentage of missing data in 2014: {percentage_missing_data:.3f}%")

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607%